lxml>=4.9
numpy>=1.26
scipy>=1.11
pandas>=2.1
matplotlib>=3.8
Pillow>=10.1
pyDOE2>=1.3
psutil>=5.9
SALib>=1.4.7
sobol-seq>=0.2
hilbertcurve>=2.0.5

dictIO>=0.2.9
ospx>=0.2.11

# ../dictIO
# ../ospx
