pytest>=6.2.5
pytest-cov>=3.0.0
pytest-randomly>=3.11.0
yapf>=0.31.0
flake8>=4.0.1
pep8-naming>=0.12.1
Sphinx>=4.3.0
myst-parser>=0.15.2
sphinx-argparse-cli>=1.8.2
furo

lxml>=4.6.4
numpy>=1.21.4
scipy>=1.7.3
Pillow>=8.4.0
psutil>=5.8.0
SALib>=1.4.5
sobol-seq>=0.2.0
pyDOE>=0.3.8

# ../dictIO
dictIO>=0.2.0
# ../ospx
ospx>=0.2.3
